* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

body{
    display: grid;
    grid-template-columns: 18% auto 20%;
    grid-template-rows: 16% auto;
}

body > .left-sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

body > header{
    grid-column: 2 / 4;
}

body > main{
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 50% 50%;

    padding-bottom: 4%;
}

.projects{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

body > * > *{
    margin: 12px;
}

a{
    text-decoration: none;
}

.left-sidebar{
    background-color: #047857;
    box-shadow: 2px 0px rgb(20, 124, 93);
    z-index: 2;
}

.left-sidebar *{
    color: #d1fae5;
}

body > header{
    background-color: #6ee7b7;
    box-shadow: 2px 2px #65c09c;
    z-index: 1;
}

body > main{
    background-color: #10b981;
}

.projects > * {
    margin-bottom: 12px;
}

.projects ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
}

.projects li, .announcements ul, .trending ul{
    padding: 1rem;
    background-color: white;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
}

.projects li{
    border-left: 0.25rem;
    border-style: solid;
    
    border-color: #059669;
}

.projects li > * {
    flex-grow: 1;
    flex-shrink: 0;
}


.projects .buttons{
    flex-grow: 0;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.projects .buttons button {
    background-color: transparent;
    border: transparent;
    aspect-ratio: 1/1;
}

.projects .buttons .star-icon{
    background-image: url(media/cog-outline.svg);
}

.projects .buttons .eye-icon{
    background-image: url(media/eye-settings-outline.svg);
}

.projects .buttons .fork-icon{
    background-image: url(media/file-outline.svg);
}

.announcements ul{
    height: 100%;
}
.announcements li{
    flex: auto;
}